<div class="backg container-fluid text-center" onload="playAudio()">
  <div class="row">
    <div class="col-md-12">
      <div id="sw">
        <div id="sw-intro">En algun lugar de Berisso...</div>
      </div>
      <div>
        <img id="sw-logo" src="../../../assets/LOGO_CFL_CON_FONDO-01-01.png" />
      </div>

      <div id="sw-crawl">
        <div id="sw-crawl-episode-number">2022...</div>
        <br />
        <div id="sw-crawl-episode-text">
          <p>
            La malvada orden de los "Divs" aún persigue a los programadores
            <br />
            Tras escapar un grupo de rebeldes
            guerreros,liderados por Fede Gattiwalker ha
            establecido una base secreta de codeo en un lugar llamado Github.
<br/>
            El malvado PO, Nico Vader, obsesionado por encontrar al joven
            Gattiwalker ha enviado miles de algoritmos a través de internet...
            <br />
            Serán nuestros héroes capaces de crear la app definitiva?...
          </p>
        </div>
        <div id="sw-crawl-episode-title">Los Copy/Paste</div>
        <div id="sw-crawl-episode-text">
          <p class="nombres">
            Federico Gatti
            <br />
            Nicolas Pendenza Agustin Lazarte
            <br />
            Sebastian Feltes Raúl Lazo
            <br />
            Ezequiel Barragan Leandro Acuña
            <br />
            Matías Vidal Lautaro Barrera
            <br />
             Nicolas Galvez Francisco Gálvez
             <br />
            Martin Ramirez Fernando Campos
            <br />
            Tamara Grimal  Jonatan Ferreyra
            <br />
            Agustin Hoggan Juan Pablo Sinkunas
            <br />
            Agradecimiento especial a Punithraaj...
            <br/>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
