<!-- <audio  type="audio/mp3" src="../../../assets/starwarstheme.mp3" [muted]=false loop autoplay></audio> -->
<div class="video">
  <video controls autoplay>
    <source src="../../../assets/starwarsmusica.mp4" type="video/mp4">

    Your browser does not support the video tag.
  </video>
  </div>

<div class="backg container-fluid text-center">


  <div class="row">
    <div class="col-md-12">
      <div id="sw">
        <div id="sw-intro">En algun lugar de Berisso...</div>
      </div>
      <div>
        <img id="sw-logo" src="../../../assets/LOGO_CFL_CON_FONDO-01-01.png" />
      </div>

      <div id="sw-crawl">
        <div id="sw-crawl-episode-number">2022...</div>
        <br />
        <div id="sw-crawl-episode-text">
          <p>
            Después de la destrucción de "La Sala de Informática", la malvada
            orden de los "Divs" aún persigue a los programadores a través de
            internet.
            <br />
            <br />
            Tras escapar de la "Flota Computacional" un grupo de rebeldes
            guerreros de la libertad liderados por Fede Gattiwalker ha
            establecido una base secreta de codeo en un lugar llamado Github.
            <br /><br />
            El malvado PO, Nico Vader, obsesionado por encontrar al joven
            Gattiwalker ha enviado miles de algoritmos a través de internet...
            <br /><br />
            Serán nuestros héroes capaces de crear la app definitiva?...
            <br />
          </p>
        </div>
        <div id="sw-crawl-episode-title">Los Copy/Paste</div>
        <div id="sw-crawl-episode-text">
          <p class="nombres">
            Federico Gatti, Juan Pablo Sinkunas
            <br />
            Nicolas Pendenza, Agustin Lazarte
            <br />
            Raúl Lazo, Sebastian Feltes
            <br />
            Barragan Ezequiel, Leandro Acuña
            <br />
            Matías Vidal, Lautaro Barrera
            <br />
            Agustin Hoggan, Nicolas Galvez, Francisco Gálvez
            <br />
            Martin Ramirez, Fernando Campos
            <br />
            Tamara Grimal Despott, Jonatan Ferreyra
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
