.tarjeta{

  width: 80%;
  box-shadow: gray;
  border-radius: 25%;
margin: auto;


}


.gestionHerramienta{

  width:  80%;
  border-radius: 20%;


}

.gestion{
  margin-top:-12%;
  color:white;
  margin-left: -8%;
letter-spacing: 1px;
font-size: 125%;
text-shadow: black 0 -2px;


}

.Gestionusuario{
  margin-top:-12%;
  color:white;
  margin-left: -14%;
letter-spacing: 1px;
font-size: 125%;
text-shadow: black 0 -2px;


}

.Historial{
  margin-top:-12%;
  color:white;
  margin-left: -34%;
letter-spacing: 1px;
font-size: 125%;
text-shadow: black 0 -2px;





}


