.tarjeta{

  width: 60%;
  box-shadow: gray;
  border-radius: 25%;
margin: auto;


}


.gestionHerramienta{

  width:  80%;
  border-radius: 20%;


}

.gestion{
  margin-top:-12%;
  color:white;
  margin-left: -10%;
letter-spacing: 1px;
font-size: 125%;


}





