<app-navbar></app-navbar>


  <div class="container-fluid text-center">
    <div class=" margen row text-center mt-4">
      <div class="col-md-4 text-center">




        <mat-card class="tarjeta mat-elevation-z0"matRipple (click)="navegarHerramientas()">





          <img  src="../../../assets/vec4.png "  class="gestionHerramienta text-center">

               <div class="gestion" ><b>Gestión De Inventario</b> </div>

        </mat-card>


       </div>

       <div class="col-md-4 text-center">

        <mat-card class="tarjeta mat-elevation-z0"matRipple  (click)="navegarUsuario()">
          <img src="../../../assets/Usuario.jpg" class="gestionHerramienta">


                <div class="Gestionusuario" ><b>Gestión De Usuario</b> </div>




        </mat-card>



       </div>

       <div class="col-md-4 text-center">

        <mat-card class="tarjeta mat-elevation-z0"matRipple  (click)="navegarHistorial()">
          <img src="../../../assets/vec2.png" class="gestionHerramienta">

          <div class="Historial" ><b>Ver Historial</b> </div>



        </mat-card>


      </div>

    </div>



     </div>

