<app-navbar></app-navbar>


  <div class="container-fluid text-center">
    <div class="row text-center">
      <div class="col-md-4 text-center">




        <mat-card class="tarjeta mat-elevation-z0 "matRipple>
        
         
     

      
          <img  src="../../../assets/vec4.png "  class="gestionHerramienta text-center">

               <div class="gestion" ><b>Gestion De Inventario</b> </div>

        </mat-card>


       </div>

       <div class="col-md-4 text-center">

        <mat-card class="tarjeta mat-elevation-z0 "matRipple>
          <img src="../../../assets/vec3.png" class="gestionHerramienta">


                <div class="Gestionusuario" ><b>Gestion De usuario</b> </div>




        </mat-card>



       </div>

       <div class="col-md-4 text-center">

        <mat-card class="tarjeta mat-elevation-z0"matRipple>
          <img src="../../../assets/vec2.png" class="gestionHerramienta">

          <div class="Historial" ><b>Ver Historial</b> </div>



        </mat-card>


      </div>

    </div>



     </div>

