<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 text-center" >
     <img src="../../../assets/logocfl.png" alt="">
     <p class="fw-semibold">Sistema de Gestión</p>
     <p class="fw-bold">Centro de Formación Profesional</p>
    </div>
  </div>
   <div class="row">
     <div class="col-md-12 text-center ">
      <form>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Ingresar Usuario</mat-label>
          <input matInput placeholder="Ex. Pizza" value="DNI">
        </mat-form-field>

      </form>

      </div>
    </div>
</div>
