<div class="container-fluid">
  <div class="row header">

    <div class="col-md-12 text-center" >
     <img src="../../../assets/LOGO_CFL_CON_FONDO-01-01.png" alt="" class="mt-5">
     <p class="titulares mt-3">Sistema de Gestión</p>
     <p class="titulares subtitulo">Centro de Formación Laboral</p>
    </div>
  </div>
</div>
 <mat-card class="carta mat-elevation-z0">
   <div class="container-fluid ">

  <div class="row mt-3">
      <div class="col-md-3"></div>
     <div class="col-md-6">
      <form [formGroup]="loginform" (ngSubmit)="onlogin()">
        <mat-form-field class="campos" appearance="outline">
          <mat-label>DNI</mat-label>
          <input type="number" matInput placeholder="Ingresar DNI"  formControlName="dni">
        </mat-form-field>
        <br>
        <mat-form-field class="campos" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput placeholder="Ingresar Contraseña" formControlName="password">
        </mat-form-field>
        <div class=" text-center">
          <button type="submit" class="btn btn-primary mt-3 w-75">Ingresar</button>
        </div>
      </form>

      </div>
      <div class="col-md-3"></div>

    </div>
    <div class="row">
      <p class="text-center mt-3">Olvidaste tu contraseña? <a (click)="ayuda()">Haga click aqui!</a></p>

    </div>
  </div>
  </mat-card>

