@import "../../../styles.scss";
.fondo{
  background-color: #093F7C;
  height: auto;
  min-height: 100%;

}
.lista {
  margin-top: 4%;
}
.botones{
 width: 125px;
}
table{
  width: 100%;
}


.boton2 {
  padding-left: 3%;
}

.mat-form-field-appearance-fill{
  margin-top: 2%;
}

.historial{
  padding-left:5%;
  padding-right: 5%;

}

.carta2{
  min-width: 90%;
}

.carta{
  margin-top: 3%;
}
.datoslista{
  font-size: 19px;
}


.visibilidadtarjetas{
  display: none;

}
.visibilidadtabla{
  display: inline;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .visibilidadtabla {
  display: none;

 }
 .visibilidadtarjetas{
  display: inline;
 }
}
