<app-navbar></app-navbar>

<div class="container-fluid text-center form">
  <div clas="row">
    <!-- <div class="col-md-12"></div> -->
    <form class="user-login">
        <div class="row">
          <div class="col-md-12 text-center b">
            <mat-form-field class="bord" appearance="outline">
              <mat-label >Nombre y Apellido</mat-label>
              <input matInput type="text" >
            </mat-form-field>
            <div><mat-form-field class="bord" appearance="outline">
                <mat-label >Dni</mat-label>
                <input matInput type="number" >
              </mat-form-field></div>
            <mat-form-field class="bord" appearance="outline">
              <mat-label >email</mat-label>
              <input matInput type="email" >
            </mat-form-field>
              <mat-form-field class="bord" appearance="outline">
              <mat-label >Cargo</mat-label>
              <input matInput type="text" >
            </mat-form-field>
            </div>
          </div>
    </form>
  </div>
</div>
