<nav class="navbar ">
  <div class="container-fluid contenedor">
    <div class="row">
      <div class="col-md-12" *ngIf="this.router.url =='/home-admin'">
        <img class="icono" src="../../../assets/iconadmin.png">
        <span class="mititulo h4">Bienvenido Admin</span>
      </div>

      <div class="col-md-12"  *ngIf="this.router.url !='/home-admin'">
        <i class="bi bi-arrow-left-square botones"(click)="volverhome()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
        </i>

        <span class="mititulo h5" *ngIf="this.router.url =='/obtener-inventario'">Inventario</span>
        <span class="mititulo h5" *ngIf="this.router.url =='/obtener-historial'">Historial</span>
        <span class="mititulo h5" *ngIf="this.router.url =='/obtener-usuario'">Usuario</span>
        <span class="mititulo h5" *ngIf="this.router.url =='/crear-herramienta'">Crear Herramientas</span>

      </div>
    </div>

  </div>
</nav>





