.icono {
width:50px ;
height:50px ;

}

.navbar {
background-color: #093F7C;
width: 100%;
}
.mititulo { color:white;
  margin-left: 20px;



}

.botones {
  color: white;
 cursor: pointer;
}
.cerrar{
 margin: end  !important;
}

.container-row{
  width:100%;
}

.exit-app{
  margin-top: 1%;
  float: right !important;
  color:#ffff;
  vertical-align:middle;
}

.mitituloNavbar {
  color:white;
  margin-left: 20px;



}
