// VARIABLES DE COLORES, PRIMARIO , SECUNDARIO, TERCIARIO, ETC

$blue:#093f7c;
$ligthBlue: #0184f5;
$ligthGray: #a5a5a5;
$white: #ffffff;
$darkGray: #333333;
/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; };


// VARIABLES DE COLORES, PRIMARIO , SECUNDARIO, TERCIARIO, ETC

$blue:#093f7c;
$ligthBlue: #0184f5;
$ligthGray: #a5a5a5;
$white: #ffffff;
$darkGray: #333333;
.mat-radio-inner-circle{
  background-color: $ligthBlue !important
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:  $ligthBlue  !important;


.mat-radio-inner-circle{
  background-color: $ligthBlue!important;
  border: none;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
border-color: $ligthBlue!important;
}
}
.mat-progress-spinner circle, .mat-spinner circle{
  stroke: $ligthBlue!important;
}
