<app-navbar></app-navbar>
<mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChanged($event);">
  <mat-tab label="Creación de Usuario"><div class="container-fluid text-center formu">
    <div clas="row">
      <div class="col-md-12"></div>
      <form
        class="user-login"
        [formGroup]="formularioUsuario"
        (ngSubmit)="crearUsuario()"
      >
        <div class="row">
          <div class="col-md-12 text-center">
            <mat-form-field class="bord" appearance="outline">
              <mat-label class="name">Nombre y Apellido</mat-label>
              <input class="" matInput type="text" formControlName="nombre" />
            </mat-form-field>
            <!--  Error para avisar que no se cumple el formulario-->
            <div *ngIf="formControl.nombre.errors" class="text-danger"></div>

            <div>
              <mat-form-field class="bord" appearance="outline">
                 <mat-label>Cargo</mat-label>
                  <mat-select formControlName="Cargo">
                    <mat-option value="ADMIN">Admin</mat-option>
                  <mat-option value="INSTRUCTOR">Instructor</mat-option>
                  </mat-select>
                </mat-form-field>


            </div>

            <!-- Error para avisar que no se cumple el formulario -->

            <div *ngIf="formControl.nroSerie.errors" class="text-danger "></div>
            <div>
              <mat-form-field class="bord" appearance="outline">
                <mat-label>DNI</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="DNI"
                  maxlength="256"
                />
              </mat-form-field>
            </div>
            <mat-form-field class="bord" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                type="password"
                maxlength="256"
                formControlName="password"
              />
            </mat-form-field>
          </div>
        </div>
        <mat-form-field class="bord" appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input formControlName="telefono" matInput type="number" maxlength="256" />
        </mat-form-field>
        <div>
          <mat-form-field class="bord" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" maxlength="256" />
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="botoncrear">
          Crear
        </button>
      </form>


    </div>
  </div>
  </mat-tab>


  <mat-tab  label="Historial de Usuarios" class="" >
    <div class="mitabla">
      <table class="table mitabla">
        <thead>
          <tr>
            <th scope="col" class="col-md-3 ">Nombre de Usuario</th>
            <th scope="col" class="col-md-3 " style="text-align:center;">Eliminar Usuario</th>
            <th scope="col" class="col-md-3 xd" style="text-align: end;">Modificar Contraseña</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of TodoslosUsuarios; let posicion = index">
            <td>{{usuario.nombre}}</td>
            <td style="text-align: center;"><mat-checkbox style="text-align: center; margin-top:5px;" class="example-margin "(click)="usuarioSeleccionado(usuario.id);"></mat-checkbox></td>
            <td><div style="margin-right: 0%; margin-left: auto;" class="contraseña">
              <input style="text-align: center; padding:0; border: 2px inset #ccc;" type="password" class="form-control xd" id="floatingPassword" placeholder="Nva Contraseña"  (change)="nuevaContra(usuario, $event);">
              <label for="floatingPassword"></label>
            </div></td>
          </tr>

        </tbody>
      </table>
    </div>

<div  *ngIf="TodoslosUsuarios!=undefined" >






 <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-6">

          <div class="margen">
            <button (click)="Contranueva()" class="modificar" mat-button>Modificar Contraseña</button>

          </div>








        </div>

        <div class="col-md-6">

        <div class="margen">
          <button (click)="borrarUsuarios();" class="borrar" mat-button disabled="{{desactivarBOTON}}">Borrar Usuario</button>
        </div>
      </div>
      </div>
    </div>
   </div>



    <div *ngIf="TodoslosUsuarios==undefined" class="spinnerContainer">
      <mat-spinner ></mat-spinner>
      <div class="loading">Cargando</div>
    </div>
  </mat-tab>



</mat-tab-group>

