<app-navbar></app-navbar>
<mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChanged($event);">
  <mat-tab label="Creación de Usuario"><div class="container-fluid text-center formu">
    <div clas="row">
      <div class="col-md-12"></div>
      <form
        class="user-login"
        [formGroup]="formularioUsuario"
        (ngSubmit)="crearUsuario()"
      >
        <div class="row">
          <div class="col-md-12 text-center">
            <mat-form-field class="bord" appearance="outline">
              <mat-label class="name">Nombre y Apellido</mat-label>
              <input class="" matInput type="text" formControlName="nombre" />
            </mat-form-field>
            <!--  Error para avisar que no se cumple el formulario-->
            <div *ngIf="formControl.nombre.errors" class="text-danger"></div>

            <div>
              <mat-form-field class="bord" appearance="outline">
                 <mat-label>Cargo</mat-label>
                  <mat-select formControlName="Cargo">
                    <mat-option value="ADMIN">Admin</mat-option>
                  <mat-option value="INSTRUCTOR">Instructor</mat-option>
                    <mat-option value="SECRETARIA">Secretaria</mat-option>
                  </mat-select>
                </mat-form-field>


            </div>

            <!-- Error para avisar que no se cumple el formulario -->

            <div *ngIf="formControl.nroSerie.errors" class="text-danger"></div>
            <div>
              <mat-form-field class="bord" appearance="outline">
                <mat-label>DNI</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="DNI"
                  maxlength="256"
                />
              </mat-form-field>
            </div>
            <mat-form-field class="bord" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                type="password"
                maxlength="256"
                formControlName="password"
              />
            </mat-form-field>
          </div>
        </div>
        <mat-form-field class="bord" appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input formControlName="telefono" matInput type="number" maxlength="256" />
        </mat-form-field>
        <div>
          <mat-form-field class="bord" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" maxlength="256" />
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="botoncrear">
          Crear
        </button>
      </form>


    </div>
  </div>
  </mat-tab>
  <mat-tab  label="Historial de Usuarios" >
    <mat-selection-list #shoes>
      <div *ngFor="let usuario of TodoslosUsuarios">
        <mat-list-option >
          {{usuario.nombre}}
        </mat-list-option>
        <input (change)="nuevaContra(usuario, $event);"
        class="contraseña" type="password" matInput placeholder="Nueva Contraseña" >

      </div>


    </mat-selection-list>

<div  *ngIf="TodoslosUsuarios!=undefined" >
   <div class="select"> Usuario Seleccionado: {{shoes.selectedOptions.selected.length}}</div>





 <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-6">

          <div class="margen">
            <button (click)="Contranueva()" class="modificar" mat-button>Modificar Contraseña</button>

          </div>








        </div>

        <div class="col-md-6">

        <div class="margen">
          <button class="borrar" mat-button>Borrar Usuario</button>
        </div>
      </div>
      </div>
    </div>
   </div>



    <div *ngIf="TodoslosUsuarios==undefined" class="spinnerContainer">
      <mat-spinner ></mat-spinner>
      <div class="loading">Cargando</div>
    </div>
  </mat-tab>



</mat-tab-group>

