@import '../../../styles.scss';

*{
  box-sizing: border-box;
  max-width: 100vw;
}
.botonesDeFiltro,.botonesDeAccion,.listadoDeHerramientas,.botonesAceptarCancelar{
  // border: 1px solid blue;
  margin: 5px 5px
};

// .mat-card{
//   border-radius: 0px;
// }
// .filterCard{
//  height: 15vh;
// }

.actionCard{
  // height: 10vh;
  padding: 10px 10px;
}

.listCard{
  height: 40vh;
  overflow: scroll;
}

.herramienta1{
  width: 100%;
// border: 1px solid red;
margin-bottom: 20px;
display: flex;
flex-direction: row;
}

img{
  width: auto;
  height: 10vh;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 3px 5px 8px 5px #aaa;
  margin-top: 10px;
}


.informacionDeHerramienta{
  height: 100%;
  width: 70%;
// border: 1px solid green;
}

mat-divider{
  background-color: #aaa;
}

.nombreHerramienta{
  margin: 0px;
  padding: 0%;
}


.descripcionHerramienta{
  text-align:center;
}
.slide{
margin-top: 10%;
}
.disponible{
  background-color: $ligthBlue;
  border-radius: 5px;
}
.botonMenu{
  margin-top: 20%;
}

//COLORES
.tituloFiltro{
margin-bottom: 2px;
background-color: $blue;
color: #fff;
border-radius: 5px 5px 0 0;
}

.filtro{
  margin: 2px 5px ;
}

.fondo{
  background-color: $white;
}

.listCard{
  background-color: $blue;
  overflow-x: hidden;

}

.boton{
  background-color: $ligthBlue;
  margin: 5px 10px;
  color: #fff;

}

.herramienta1{
  background-color: #eee;
  border-radius: 10px;
  border-bottom: 1px solid $blue;
  border-right: 1px solid $blue;
}

