<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="botonesDeFiltro">
        <mat-card>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
          </mat-radio-group>
        </mat-card>
      </div>
      <div class="botonesDeAccion">
        <mat-card>
          <button mat-raised-button>Alta Herramienta</button>
          <button mat-raised-button>Baja Herramienta</button>
          <button mat-raised-button>Modificar Herramienta</button>
        </mat-card>


      </div>
      <div class="listadoDeHerramientas">
        <div class="contenedorDeHerramienta">
          <mat-card>

          </mat-card>


        </div>
      </div>
      <div class="botonesAceptarCancelar">
        <mat-card>Simple card</mat-card>

      </div>
    </div>
  </div>
</div>
