@import "../../../styles.scss";

.fondo {
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
}
.botonesDeFiltro,
.botonesDeAccion,
.listadoDeHerramientas,
.botonesAceptarCancelar {
  // border: 1px solid blue;
  margin: 5px 5px;
}


// .mat-card{
//   border-radius: 0px;
// }
// .filterCard{
//  height: 15vh;
// }

.actionCard {
  // height: 10vh;
  padding: 10px 10px;
}

.barraBusqueda{
  margin-bottom: 5px;
  padding: 2px;
  z-index: 300;
}
.buscador{
  border-radius: 5px;
}

.listCard {
  height: 40vh;
  overflow: scroll;
  border: 1px solid #ccc;
}

.herramienta1 {
  width: 100%;
  // border: 1px solid red;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

img {
  width: auto;
  height: 20vh;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 3px 5px 8px 5px #aaa;
  margin-top: 10px;
}

.informacionDeHerramienta {
  width: 60%;
  // border: 1px solid green;
}

mat-divider {
  background-color: #aaa;
}

.nombreHerramienta {
  margin: 0px;
  padding: 0%;
}

.descripcionHerramienta {
  text-align: center;
}

.slide {
  margin-top: 10%;
}
.disponible {
  background-color: $ligthBlue;
  border-radius: 5px;
  margin-left: 20%;
  width: 60%;
  position: relative;
  z-index: 400;
}
.botonMenu {
  margin: 5px;
  margin-top: 5px;
  border: 1px outset #aaa;
  border: 1px outset $ligthBlue;
  box-shadow: 1px 1px 2px 1px #666;
}
.textoAsignar{
  font-size: 0.8em;
}

.tituloFiltro {
  margin-bottom: 2px;
  background-color: $blue;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.filtro {
  display: inline-flex;
  flex-direction: row;
  margin: 5px;
  justify-content: space-between;
  align-items: center;
}

.fondo {
  background-color: $white;
}

.listCard {
  background-color: $blue;
  overflow-x: hidden;
}

.boton {
  background-color: $ligthBlue;
  margin: 5px 10px;
  color: #fff;
}

.herramienta1 {
  background-color: #eee;
  border-radius: 10px;
  border-bottom: 1px solid $blue;
  border-right: 1px solid $blue;
}

@media (min-width:860px) {

  .descripcionHerramienta {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
  }
  .informacionDeHerramienta{
    width: 100%;
  }

  span, label{
    margin: 5px 10px;
  }

  h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    font-style: italic;
  }


img {
  width: auto;
  height: 30vh;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 3px 5px 8px 5px #aaa;
  margin-top: 10px;
}
}
